<section id="forms">
	<div class="page-header">
  		<h1>注册</h1>
	</div>
	<div class="row">
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		<fieldset>
			<div class="clearfix">
				<label for="text_field">Realname</label>
				<div class="input">
					<%= f.text_field :realname %>
				</div>
			</div>
			<div class="clearfix">
				<label for="text_field">Email</label>
				<div class="input">
					<%= f.text_field :email %>
				</div>
			</div>
			<div class="clearfix">
				<label for="text_field">Password</label>
				<div class="input">
					<%= f.password_field :password %>
				</div>
			</div>
			<div class="actions">
				<%= f.submit '注册', :class => "btn primary" %>
			</div>
			<%= render :partial => "devise/shared/links" %>
		</fieldset>
		<% end %>
	</div>
</section>
