<div class="row">
	<div class="span12 columns">
		<div class="user-panel">
			<div class="big-avatar">
				<a class="image" href="/user/<%= @user.id %>"><%= image_tag @user.gravatar_url(:size => 32) %></a>
			</div>
			<div class="mail">
			  <%=form_tag({:controller => 'mail', :action => 'send'}, :id => 'new_mail') do %>
			  	<%= text_field_tag :title, {}, :class => 'title' %>
				<br>
			  	<%= text_area_tag :content, {}, :class => 'content' %>
				<%= hidden_field_tag "user_id",@user.id%>
				<%= submit_tag '发送', :class => 'submit' %>
			  <% end %>
			</div>
		</div>
	</div>
</div>